body{
    font-family:sans-serif;
    background-color: rgb(212, 46, 46);
}
h1{
    color: white;
}
button{
    background-color: rgb(87, 15, 15);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(57, 8, 8);
}